h1{
    color: black;
    font-size: 39px;
    text-align: center;
}
#box{
    border-width: 5px;
    text-align: center;
    background-color: rgb(86, 196, 230);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}
@media only screen and (max-width: 600px) {
    #box{
        border-width: 5px;
        background-color: rgb(235, 113, 38);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 3%;
    }
  }
#input{
    text-align: center;
    
}
#text{
    padding: 2px;
    border-width: 2px;
    border-color: aqua;
    font-size: x-large;
}