<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Output</title>
</head>
<body>
    <h1> {{message}} </h1> 
    {% if download_link %}
        <p>Your download link: <a href="{{ download_link }}" download>{{ download_link }}</a></p>
    {% endif %}

    {% if song_name %}
        <h3>Song name : {{song_name}}</h3>
    {% endif %}

    {% if album_name %}
        <h3>album name : {{album_name}}</h3>
    {% endif %}

    {% if playlist_name %}
        <h3>Playlist name : {{playlist_name}}</h3>
    {% endif %}

    <a href="/">Go Back</a>
</body>
</html>